{% extends 'base.html' %}
{% block content %}
  <section style="padding:2rem">
    <h1>О нас</h1>
    <p>Lambo Veil — уникальный российский бренд. Успешно развивается более 5 лет и радует своих клиентов высококачественной  продукцией, стойкими, многогранными ароматами.</p>
    <p>‌Lambo Veil — это бренд авторской косметики российского производителя. Бренд специализируется на создании уникальных препаратов, в основе которых натуральные масла и растительные комплексы. Каждый продукт обладает уникальной формулой, которая отвечает сразу за уход + парфюм.</p>
    <p>Lambo Veil — это новый подход к красоте! Это о заботе и любви к себе. Мы создаём понятные продукты по уходу и наслаждению для волос, тела и души...</p>
  </section>
{% endblock %}
